:root {
  --font-roboto: "Roboto", sans-serif;

  --color-dark: #1C1C1C;
  --color-dark-a4: #1C1C1C66;
  --color-green: #49D3AA;
}

html, body, #app {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-dark);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.dark-round-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  border: none;
  border-radius: 50%;
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}
.dark-text-btn {
  height: 32px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  border: none;
  border-radius: 16px;
  color: white;
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}
